/*general*/

body {
    font-family: "Montserrat", sans-serif;
}
h1 {
    font-size: 40px;
    text-align: center;
}
footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}

/*coordinate system*/
#coordinateSystem {
    background-image: url(system_square_vector.svg);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 15%;
    padding-bottom: 25%;
    margin-top: 5%;
}  
  

/*buttons*/
.colorbutton {
    cursor: pointer;
    border-width:2px;
    border-style:solid;
    border-color:grey;
    border-radius: 50%;
    padding: 5px;
    text-align: center;
    width: 70px;
    height: 70px;
    opacity: 0.5;
}
.colorbutton:hover{
    opacity: 1.0;
}
#violet, #red, #orange, #yellow{
    margin: 10px;
    position: absolute;
    top: 40%;
}
#indigo, #blue, #turquoise, #green{
    margin: 10px;
    position: absolute;
    top: 60%;
}

#violet, #indigo, #yellowKeywords, #indigoKeywords{
    left: 32%;
}
#red, #blue, #orangeKeywords, #blueKeywords{
    left: 40%;
}
#orange, #turquoise, #redKeywords, #turquoiseKeywords{
    left: 53%;
}
#yellow, #green, #violetKeywords, #greenKeywords{
    left: 61%;
}
#violet{
    background-color: violet;
}
#red{
    background-color: red;
}
#orange{
    background-color: orange;
}
#yellow{
    background-color: yellow;
}
#indigo{
    background-color: indigo;
}
#blue{
    background-color: blue;
}
#turquoise{
    background-color: turquoise;
}
#green{
    background-color: green;
}

/*text*/
#energyHigh{
    position: absolute;
    top: 9%;
    left: 47%;
}
#negativ{
    position: absolute;
    top: 49%;
    left: 26.5%;
}
#positiv{
    position: absolute;
    top: 49%;
    left: 70%;
}
#energyLow{
    position: absolute;
    top: 93%;
    left: 47%;
}

/*keywords*/
.keywords {
    display:none;
    position: absolute;
  

}
.colorbutton:hover .keywords{
    display: block;
}
#violetKeywords, #redKeywords, #orangeKeywords, #yellowKeywords{
    position: absolute;
    top: 35%;
}
#indigoKeywords, #blueKeywords, #turquoiseKeywords, #greenKeywords{
    position: absolute;
    top: 55%;
}

/* pop up*/
.keywordPopup {
 padding: 20px;
 max-width: 50ch;
 border: solid 5px white;
 border-radius: 20px;
 box-shadow: 30 px;
 transition: width 2s;
 background-color: lightgray;
 box-shadow: 5px 5px 5px 5px gray;
}
.keywordPopup::backdrop {
 background: gray;
 opacity: 0.7;

}
.close-button {
 border: solid 5px white;
 padding: 10px;
 cursor: pointer;
 border-radius: 8px;
 background-color: white;
 border: solid 2px gray;
}
.button:hover {
 background: lightgray;
}
