/*general*/
body {
    font-family: "Montserrat", sans-serif;
}
h1 {
    font-size: 40px;
    text-align: center;
}
footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}

/*coordinate system*/
.coordinate-system {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    justify-content: center;
    align-items: space-between;
    position: relative; 
    margin-left: 32.5%;
    margin-right: 32.5%;
    margin-top: 10%;
    width:35%;
    min-width: 28rem;
}

/* Style for X and Y axis */
.x-axis {
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: black;
    top: 50%;
  }

.y-axis {
  position: absolute;
  width: 2px;
  height: 100%;
  background-color: black;
  left: 50%;
}

/* Style for arrowheads */
.x-axis::before,
.x-axis::after,
.y-axis::before,
.y-axis::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
}

/* X-axis arrowheads */
.x-axis::before,
.x-axis::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  top: 50%;
  transform: translateY(-50%);
}

.x-axis::before { /*left arrowhead*/
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 15px solid black;
  left: 0;
  transform: translateY(-50%) translateX(-50%) rotate(90deg);
}

.x-axis::after { /*right arrowhead*/
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 15px solid black;
  right: 0;
  transform: translateY(-50%) translateX(50%) rotate(90deg);
}

/* Y-axis arrowheads */
.y-axis::before,
.y-axis::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  left: 50%;
  transform: translateX(-50%);
}

.y-axis::before { /*top arrowhead*/
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 15px solid black;
  top: 0;
  transform: translateY(-50%) translateX(-50%) rotate(-90deg);
}

.y-axis::after { /*bottom arrowhead*/
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 15px solid black;
  bottom: 0;
  transform: translateY(50%) translateX(-50%) rotate(-90deg);
}

/*Position on top and bottom line of grid*/
.top-line-grid {
    grid-row-start: 2;
    grid-row-end: 3;
}
.bottom-line-grid {
    grid-row-start: 3;
    grid-row-end: 4;
}

/*Position on four grid columns*/
.column-1 {
    grid-column-start: 1;
    grid-column-end: 2;
}
.column-2 {
    grid-column-start: -3;
    grid-column-end: -4;
}
.column-3 {
    grid-column-start: 3;
    grid-column-end: 4;
}
.column-4 {
    grid-column-start: -1;
    grid-column-end: -2;
}
  
/*buttons*/
.colorbutton {
    cursor: pointer;
    border-width:2px;
    border-style:solid;
    border-color:grey;
    border-radius: 50%;
    padding: 5px;
    text-align: center;
    width: 70px;
    height: 70px;
    opacity: 0.5;
    margin:auto;
    
}
.colorbutton:hover{
    opacity: 1.0;
}

#violet{
    background-color: #9f39ff;
}
#red{
    background-color: red;
}
#orange{
    background-color: orange;
}
#yellow{
    background-color: #face49;
}
#indigo{
    background-color: #004197;
}
#blue{
    background-color: #2973d7;
}
#turquoise{
    background-color: #4bbc30;
}
#green{
    background-color: #a3e200;
}

/*text*/
.axis-label {
    position: relative;
}

#energyHigh {
    grid-column: 3/4;
    grid-row: 1;
    justify-self: start;
    align-self: start;
    transform: translateX(-50%) translateY(-280%);
}
#negativ{
    grid-column: 1;
    grid-row: 2;
    justify-self: start;
    align-self: end;
    transform: translateX(-140%) translateY(170%);
}
#positiv{
    grid-column: -2;
    grid-row: 2;
    justify-self: end;
    align-self: end;
    transform: translateX(140%) translateY(170%);
}
#energyLow{
    grid-column: 3/4;
    grid-row: 4;
    justify-self: start;
    align-self: end;
    transform: translateX(-50%) translateY(280%);
}

/*Position of keywords on grid*/
#violetKeywords, #redKeywords, #orangeKeywords, #yellowKeywords{
    grid-row: 1/2;
    justify-self: center;
    align-self: end;

    /*tooltip*/
    top: -80px;
    left: -12px;
}
#indigoKeywords, #blueKeywords, #turquoiseKeywords, #greenKeywords{
    grid-row: 4/5;
    justify-self: center;
    align-self: start;

    /*tooltip*/
    left: -12px;
    bottom: -80px;
}
#violetKeywords::before, #redKeywords::before, #orangeKeywords:before, #yellowKeywords::before{
    content: "";
    color: grey;
    position: absolute;
    transform: scale(2,2);
    top: 100%; /* At the bottom of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: grey transparent transparent transparent;
}
#indigoKeywords::before, #blueKeywords::before, #turquoiseKeywords::before, #greenKeywords::before{
    content: "";
    color: grey;
    position: absolute;
    transform: scale(2,2);
    top: -9px; /* At the top of the tooltip */
    left: 50%;
    transform: rotate(-180deg); /*turning it point to the top*/
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: grey transparent transparent transparent;
}



/*keywords*/
.keywords {
    opacity: 0;
    transition: opacity 0.4s;
    position: relative; /*needed for positioning*/
    width: fit-content;
    min-width: 70px;
    height: 24px;
    background-color: gray;
    color: #fff;
    text-align: center;
    border-radius: 8px;
    z-index: 1;/*sets it infront of everything*/
    padding-bottom: 0.5px;
    padding-left: 10px;
    padding-right: 10px;
}
.colorbutton:hover .keywords{
    opacity: 1;
    transition: opacity 0.2s;
}


/* pop up*/
.keywordPopup {
 border: none;
 background: transparent;
 display:none;
 justify-content: space-between;
 align-items: center;
}
.keywordPopup::backdrop {
 background: gray;
 opacity: 0.7;
}
/*the close button itself is commented out but styles are necessary for accordion*/
.close-button {
 border: solid 5px white;
 padding: 10px;
 cursor: pointer;
 border-radius: 8px;
 background-color: white;
 border: solid 2px gray;
 margin-top: 15px;
}
/*.button:hover {
 background: lightgray;
}*/


/*accordion*/
.accordionBtn{
    cursor: pointer;
    border-radius: 8px;
    text-align: center;
    padding-bottom: 20px;
    height: 35px;
    margin: 4px;
    background-color: white;
    border: solid 1px gray;
}
.accordionContent {
    height: 0;/*hides content when accordion is closed*/
    text-align: block;
    overflow: hidden;
    transition: 0.8s;/*transition on accordion opening*/
}
.accordionSection.active .accordionContent {
    height: 150px;/*displays when accordion is opened*/
}
.accordionBtn:after {
    content: '\25B7';/*turn icon*/
    position: relative;
    float: right;
    top: -40px;
    right: 20px;
    transition: 0.4s;/*opening transition on turn icon*/
  } 
.accordionBtn.active:after {
    transition: 0.8s; /*closing transition on turn icon*/
    transform: rotate(90deg); /*turns turn icon*/
  }

/*Navigation*/
.popUpBox{
    padding: 20px;
    max-width: 50ch;
    border: solid 5px white;
    border-radius: 20px;
    box-shadow: 30 px;
    transition: width 2s;
    background-color: lightgray;
    box-shadow: 5px 5px 5px 5px gray;
}

.nextBtn, .prevBtn{
    height:30px;
    margin: 20px;
}

/*color change menu*/

.changeColor {
    position: relative;
    display: inline-block;
}

.changeColor-content{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.changeColor:hover .changeColor-content {
    display: block;
}